@{
    ViewBag.Title = "Query and Cookie Demo";
}
<h2>Client-Side State Management</h2>

<p><strong>From Cookie:</strong> @ViewBag.User</p>
<p><strong>From Query String:</strong> @ViewBag.City</p>
<p><strong>From Hidden Field:</strong> @ViewBag.Hidden</p>


